.block-list {
    margin-block: 20px;

    &__header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-inline: 15px;
        height: 60px;

        .header-title {
            font-size: 24px;
            font-weight: bold;
            color: rgba(254, 203, 91, 1);
            &::after {
                content: '';
                display: block;
                position: relative;
                top: 3px;
                left: 3px;
                width: 100px;
                height: 2px;
                background-color: rgb(254, 203, 91);
                border-radius: 2px;
            }
        }

        input {
            cursor: pointer;
            width: 360px;
            height: 40px;
            border: none;
            background-color: #191E1E;
            outline: none;
            padding-inline: 10px;
            color: white;
            border-radius: 5px;
            margin-inline: 10px;
            &.fit-width {
                min-width: 540px;
            }

            &::-webkit-inner-spin-button,
            &::-webkit-outer-spin-button {
                -webkit-appearance: none;
                margin: 0;
            }

            & {
                -moz-appearance: textfield; /* For Firefox */
                appearance: none; /* Standard */
            }

            &:focus {
                background-color: #1E2323;
            }
        }
    }

    &__content {
        margin-top: 30px;
        overflow-x: auto;
        white-space: nowrap;

        .data-list {
            list-style-type: none;
            padding: 0;
            margin: 0;
            min-width: 540px;

            li {
                display: flex;
                justify-content: space-between;
                align-items: center;
                padding-inline: 20px;
                padding-block: 10px;
                font-size: 16px;
                color: #FFFFFF;
                transition: all 0.5s ease;
                
                span {
                    min-width: 400px;
                }
                button {
                    border: none;
                    border-radius: 15px;
                    cursor: pointer;
                    font-size: 16px;
                    transition: all 0.3s ease;
                    padding: 10px 15px;
                    background-color: #191E1E;
                    color: #FE5B5B;

                    &:hover {
                        background-color: #1C2323;
                        color: #FE5B5B;
                        box-shadow: 2px 3px 3px rgba(254, 103, 91, 0.3);
                    }
                }
            }
            li.even {
                background-color: #FFFFFF20;
                &:hover {
                    background-color: #FFCCCC40;
                }
            }
            li.odd {
                background-color: #FFFFFF30;
                &:hover {
                    background-color: #FFCCCC40;
                }
            }
        }
    }
}