.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  background-color: #191E1E;
  width: 100%;
  height: 60px;
  font-size: 14px;
  color: #FFFFFF;

  p {
    margin: 0;
  }
}